<apex:page standardController="Contact" extensions="ContactRelatedOpportunities">
    <apex:pageblock >
        <apex:pageBlockTable value="{!RelatedOpportunities}" var="ro" id="theTable" rowClasses="odd,even" styleClass="tableClass" rendered="{!RelatedOpportunities!= null && RelatedOpportunities.size>0}">
           <apex:column >
                <apex:facet name="header">Account Name</apex:facet>
                <apex:outputLink value="https://eu3.salesforce.com/{!ro.contact__r.Accountid}" target="_parent">{!ro.contact__r.Account.Name}</apex:outputLink>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Opportunity Name</apex:facet>
                <apex:outputLink value="https://eu3.salesforce.com/{!ro.Opportunity__c}" target="_parent">{!ro.Opportunity__r.name}</apex:outputLink>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Contact Name</apex:facet>
                <apex:outputLink value="https://eu3.salesforce.com/{!ro.Contact__c}" target="_parent">{!ro.contact__r.name}</apex:outputLink>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Opportunity Role</apex:facet>
                <apex:outputText value="{!ro.Name}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Value</apex:facet>
                <apex:outputText value="{!ro.Opportunity__r.Credit_Limit_x__c}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Overall Rating</apex:facet>
                <apex:outputText value="{!ro.Opportunity__r.Overall_Ratingx__c}" escape="false"/>
            </apex:column>
        </apex:pageBlockTable>
        <apex:outputtext rendered="{!RelatedOpportunities== null || RelatedOpportunities.size=0}">No Related Opportunities</apex:outputtext>
    </apex:pageblock>
</apex:page>