<apex:page standardcontroller="Opportunity" extensions="CreateNewOpportunity">
	<apex:form >
	    <apex:sectionHeader subtitle="Select Opportunity Record Type" title="New Opportunity"/>
		Select a record type for the new opportunity. To skip this page in the future, change your record type settings on your personal setup page.<p/>
		<apex:pageblock title="Select Opportunity Record Type" mode="edit" >
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton action="{!cont}" value="Continue"/>
				<apex:commandButton action="{!cancel}" value="Cancel"/>
			</apex:pageBlockButtons>
			<apex:pageblocksection >
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Record Type of new record" for="rt"></apex:outputLabel>
					<apex:selectList id="rt" value="{!Opportunity.Recordtypeid}" size="1" title="Record Type">
						<apex:selectOptions value="{!OppRT}"></apex:selectOptions> 
					</apex:selectList>
				</apex:pageBlockSectionItem>
			</apex:pageblocksection>
		</apex:pageblock>
	</apex:form>
</apex:page>