<apex:page standardController="Account" extensions="MarketingMessagesController" recordSetVar="accounts" showHeader="true" sidebar="true">
 

 <apex:form >
        <apex:pageBlock title="Marketing Messages" >
        <apex:pageMessages />
       
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Continue" action="{!processMessages}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!messages}" var="m">
                
                <apex:column >
                 <apex:inputCheckbox value="{!m.selected}"/>
                </apex:column>
                <apex:column value="{!m.message.Name}"/>
                <apex:column value="{!m.message.Text__c }"/>
                <apex:column value="{!m.message.Asset_Id__c}" />
                <apex:column value="{!m.message.Priority__c}"/>
                <apex:column value="{!m.message.Minimum_Account_Open_Duration__c}"/>
                <apex:column value="{!m.message.Link_1__c}"/>
                <apex:column value="{!m.message.Link_2__c}"/>
                <apex:column value="{!m.message.Roles__c}"/>
                <apex:column value="{!m.message.Expiry_Days__c}"/>
                <apex:column value="{!m.message.Retry_LImit__c}"/>
                <apex:column value="{!m.message.Closed_Retry_Limit__c}"/>
                <apex:column value="{!m.message.Tasks_Required__c}"/>
              
               
            </apex:pageBlockTable>      
        </apex:pageBlock>
    </apex:form>

	
</apex:page>